<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Journal App</title>
        <link href="style.css" type="text/css" rel="stylesheet">
        <script src="/app.js" type="text/javascript" async></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
        <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap" rel="stylesheet">
        <!-- TODO: Create icon -->
        <!-- <link rel='icon' href="favicon.ico" -->
    </head>
    <body>
        <div class="container">
            <header><h1>Travel Planning App</h1></header>
            <nav>
            </nav>
            <main>
                <section id="formSection">
                    <form class="" id="form">
                        <input id="tripDate" type="text" name="input" value="" placeholder="Enter date of trip">
                        <input id="location" type="text" name="input" value="" placeholder="Enter city name">
                        <input title="Access key is alt+s" type="submit" name="" value="Plan Trip!" accesskey="s">
                    </form>
                </section>
                <section id="resultsSection">
                    <h3>My planned trip!:</h3>
                    <h4>Date:</h4>
                    <div class="results" id="resultsDate"></div>
                    <h4>Location:</h4>
                    <div class="results" id="resultsLocation"></div>
                    <h4>Forecast:</h4>
                    <div class="results" id ="resultsForecast"></div>
                    <h4>Location image:</h4>
                    <div class="results" id ="resultsImage"></div>
                </section>
            </main>
            <footer></footer>
        </div>
    </body>
</html>