<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Journal App</title>
        <!-- <link href="style.css" type="text/css" rel="stylesheet">
        <script src="/app.js" type="text/javascript" async></script> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
        <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap" rel="stylesheet">
        <!-- TODO: Create icon -->
        <!-- <link rel='icon' href="favicon.ico" -->
    </head>
    <body>
        <div class="container">
            <header><h1>Travel Planning App</h1></header>
            <nav>
            </nav>
            <main>
                <section id="formSection">
                    <form class="" id="form">
                        <input id="tripDate" type="date" name="input" value="" placeholder="Enter date of trip">
                        <input id="location" type="text" name="input" value="" placeholder="Enter city name">
                        <input title="Access key is alt+s" type="submit" name="" value="Submit Trip Plan!" accesskey="s">
                    </form>
                </section>
                <section id="resultsSection">
                    <h3 class="results">My planned trip!</h3>
                    <h4 class="results dateH">Date:</h4>
                    <p class ="results" id="countdown"></p>
                    <div class="results" id="resultsDate"></div>
                    <h4 class="results locationH">Location:</h4>
                    <div class="results" id="resultsCityName"></div>
                    <div class="results" id="resultsCountryName"></div>
                    <h4 class="results forecastH">Forecast:</h4>
                    <img class="results" id="currentWeatherIcon">
                    <div class="results" id ="currentWeatherDescription"></div>
                    <h4 class="results imageH">Location Image</h4>
                    <img class="results" id ="resultsImage">
                </section>
            </main>
            <footer>
                <p>Powered by Geonames API <a href="http://www.geonames.org/">http://www.geonames.org/</a></p>
                <p>Powered by Weatherbit API <a href="https://www.weatherbit.io/api">https://www.weatherbit.io/api</a></p>
                <p>Powered by Pixabay API <a href="https://pixabay.com/api/">https://pixabay.com/api/</a></p>
                <img class="api-logo" src="https://bn1305files.storage.live.com/y4mPuLZo-51OQtNqSkXgbXirfpWFHT-qMt-qBOoHj8lN9TEDL9D-bDACkMkfFEimVtdeqzkXcDco3kRd2x8VPQMmyIfyNXFo6eI0lKLntuQXtSINeIlP24XB_takj9Ybzcr7SwgwD0pqjmkQbxgBj4CoJqS5cfQsubNAUgo0_gZeVlZ1wWgr0AzyR8yVxqimlt8?width=640&height=124&cropmode=none">
            </footer>
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>