body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

main {
    flex: 2;
}

section {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    max-width: 800px;
    margin: 50px auto;
    h2 {
        font-size:x-large;
        margin: 20px 0 20px 0;
    }

    h3 {
        font-size:large;
    }

    div {
        margin: 25px;
    }
}

#resultsSection {
    display:grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr ;
    grid-template-areas:
    "iH iH h h h"
    "i i dH d d"
    "i i lH ci co"
    "i i fH wI wD";

    .results {
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-content:center;
        justify-content: space-evenly;
        align-items: center;
    }

    img {
        width:100%;
        box-shadow:2px 2px 5px#264c70;
    }


    h3 {
        grid-area:h;
    }
    .dateH {
        grid-area:dH;
    }
    .locationH{
        grid-area:lH;
    }
    .forecastH {
        grid-area:fH;
    }
    .imageH {
        grid-area:iH;
    }
    #resultsDate {
        grid-area:d;

    }
    #resultsCityName {
        grid-area:ci;
    }
    #resultsCountryName {
        grid-area:co;
    }
    #resultsImage {
        grid-area:i;
    }
    #currentWeatherDescription {
        grid-area:wD;
    }
    #currentWeatherIcon {
        grid-area:wI;
    }

}

// .section-form {
//     background-color: rgb(95, 178, 255);
//     border: rgb(95, 178, 255) solid 5px;
//     border-radius: 5%;
// }

// .section-results {
//     background-color: rgb(175, 219, 255);
//     border: rgb(95, 178, 255) solid 5px;
//     border-radius: 5%;
// }