form {
    border: 5px solid #264c70;
    border-radius: 3px;
    padding: 40px;
    input {
        font-family: inherit;
        font-size: 100%;
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        &:hover[type=submit] {
            background:#264c70;
            color:rgb(230, 230, 230);
            box-shadow: 2px 2px 5px rgb(117, 117, 139);
        }
    }

    select {
        font-family: inherit;
        font-size: 100%; 
    }

    textarea {
        font-family: inherit;
        font-size: 100%;         
    }
}
